<!DOCTYPE html>
<html>
<head>
  <title>Welcome page</title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.item {
    float: right;
}

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 90px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }


h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

footer {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">M-GROUP</a></li>
  <div class="item">
    <li><a  href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </div>
</ul>
<h1>Welcome to the home page of M-GROUP</h1>
<h2>Please <a href="login">sign in</a> to check today's statistics.</h2>
<img src="https://www.virages.com/Images/Categorie_A8/24504-500.jpg" >
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
  @2022 M-GROUP All rights reserved.
</footer>
</body>
</html>